@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div action="Privacy text-center">
    <h1>Take a look at WebSelf Simple packages</h1>
    <p>
    Explore our various plans, which include exclusive features that will meet your needs — all at an affordable price. Try WebSelf Simple - free for 30-days
    </p>
</div>

