@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthonticationLayout.cshtml";
}

<h1>Login</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <label asp-for="RememberMe" class="form-check-label"> Remember me</label>
                    <input asp-for="RememberMe" class="form-check-input" />
                <span asp-validation-for="RememberMe" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login" class="btn btn-primary" asp-controller="Account">Login</a>
    <a asp-action="ForgetPassword" class="text-primary btn btn-btn-warning" asp-controller="Account">Forget Password ?</a>
</div>


